@import '../lib/theme/theme';
//@import '../lib/theme/theme';

* {margin: 0; padding: 0; box-sizing: border-box};
*::before { box-sizing: border-box; };
*::after { box-sizing: border-box; };

h1, h2, h3, h4, h5, h6 { font-weight: normal; };

.site-wrapper {
  min-height: 100vh;
  //padding: 10px 10px;
}

.site-common-header {
  height: 64px;
  display: flex;
  align-items: center;
  //border-bottom: 1px solid ;
  box-shadow: 0 2px 8px #f0f1f2;
  .header-logo {
    display: flex;
    align-items: center;
    img {
      width: 40px;
      height: 40px;
      margin: 0 16px 0 40px ;
    }
  }
}

.site-nav-wrapper {
  width: 260px;
  border-right:1px solid #E8E8E8;
  a {
    padding-left: 40px;
    color: $font-color-black;
    text-decoration: none;
    height: 40px;
    display: block;
    line-height: 40px;
    position: relative;
    &:hover {
      color: $font-color-link;
    }
    &::after {
      height: inherit;
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      border-right: 3px solid #1890ff;
      opacity: 1;
      transform: scaleY(0);
    }
    &.active {
      color: #1890ff;
      background: #e6f7ff;
    }
    &.active::after {
      transform: scaleY(1);
      opacity: 1;
      transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
  }
}

.site-main-wrapper {
  width: calc(100% - 200px);
  .site-main-content-wrapper {
    padding: 40px;
  }
}

.site-common-footer {
  box-shadow: 0 2px 8px #f0f1f2;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

